<div class="experience">
  <div>
    <td><%= experience.description %></td>
    <td><%= experience.institute %></td>
    <td><%= experience.duration %></td>

    <td><%= link_to "Delete", [@faculty, experience], method: :delete  if logged_in? and (current_faculty.admin or current_faculty.id == @faculty.id)  %></td>
  </div>
</div>