<div class="experience">
  <div>
    <td><%= experience.description %></td>
    <td><%= experience.institute %></td>
    <td><%= experience.duration %></td>

    <td><%= link_to "Delete", [@faculty, experience], method: :delete %></td>
  </div>
</div>